<html>
    <head>
        <title>Gaurav's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Gaurav's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Well, for sure our blog post needs some text with its content and a title, right? It would be also nice to know who wrote it – so we need an author. Finally, we want to know when the post was created and published.</p>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>To keep everything tidy, we will create a separate application inside our project. It is very nice to have everything organized from the very beginning. To create an application we need to run the following command in the console (from djangogirls directory where manage.py file is):</p>
        </div>
    </body>
</html>
